


.ContainerData
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-around;


}

@media only screen and (max-device-width: 500px) {
    .Portfolio-Container
    {
        position: relative;
        display: flex;
        
    }
   
    .ContainerData
    {
       
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-around;
        align-items: center;

    }
    


}