.BoardContainer{
  width:1176px;
  height: 1000px;
  margin: 0 auto;
  margin-top: 52px ;
  background-color: #FFFFFF;
  box-shadow: 1px 7px 7px 7px #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

.BoardContainerInfo{
    width: 1022px;
    height: auto;
   
}