
.NavbarContainer{
    background-color: black !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-family: 'Laila', sans-serif;
    color: white;
    font-weight: bold;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1;
}

.NavbarContainers-Name{
    margin-left: 206px;
    margin-right:173px;
   
}
.NavbarContainers-Name
.buton
{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

}

.NavbarContainers-Name
div
img{
    width: 0;
    height: 0;

}

.NavbarContainers-Links{
    margin-right: 334px;
    display: flex;
}

.NavbarContainers-Links
nav
ul{
    display: flex;
    list-style: none;
}

.NavbarContainers-Links
nav
ul
li{
    display: flex;
    list-style: none;
    margin-left: 76px;
    
}

.Links{
    color: white;
    text-decoration: none;
}


.Links:hover{
    
    color:blanchedalmond;
    
}

@media only screen and (max-device-width: 800px) {
    .NavbarContainer{
        background-color: black !important;
        display: grid;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        font-family: 'Laila', sans-serif;
        color: white;
        font-weight: bold;
        width: 100%;
        height: auto;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0; 
        z-index: 1;
      
    }
    
    .NavbarContainers-Name{
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
       
    }

    .NavbarContainers-Name
    .buton
    {
        width: 50px;
        height: 50px;
        margin-left: 20px;
        margin-top: 20px;
        padding: 0;

    }

    .NavbarContainers-Name
    div
    img{
        width: 50px;
        height: 50px;

    }
    
    .NavbarContainers-Links{
        margin-right: 334px;
    }
    
    .NavbarContainers-Links
    nav
    ul{
        display: grid;
        list-style: none;
    }
    
    .NavbarContainers-Links
    nav
    ul
    li{
        display: flex;
        list-style: none;
        margin-left: 76px;
        
    }
    
    .Links{
        color: white;
        text-decoration: none;
    }

    .NavbarContainers-Name
    a{
        color: black;
    }
    
    
    .Links:hover{
        
        color:blanchedalmond;
        
    }
    
 }