.Sectionontainer{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}


@media only screen and (max-device-width: 500px) {
    .Sectionontainer{
        width: 100%;
        text-align: center;
    }
}